@model IEnumerable<Bangiay.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th class="col-1 text-center">#</th>
                                    <th class="col-3 text-center">Tên sản phẩm</th>
                                    <td class="col-2 text-center">Abstract</td>
                                    <td class="col-2 text-center">Ảnh</td>
                                    <td class="col-1 text-center">Giá cả</td>
                                    <td class="col-1 text-center">Ẩn/Hiện</td>
                                    <th class="col-2 text-center">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th class="text-center" scope="row"> @item.ProductID</th>
                                        <td><a asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID" class="text-primary">@item.ProductName</a></td>
                                        <td class="text-center">@item.Abstract</td>
                                        <td class="text-center">@item.Images</td>
                                        <td class="text-center">@item.Price</td>
                                        <td class="text-center">@item.IsActive</td>
                                        <td class="text-center">
                                            <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductID"
                                               class="btn btn-primary btn-sm" title="Sưả nội dung bài viết"><i class="bi bi-pencil"></i></a>

                                                <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductID"
                                               class="btn btn-danger btn-sm" title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</table>
</main>
